slides/node-red-json/dashboard.json
[{"id":"8f0f067c.ecf958","type":"mqtt in","z":"ed87c536.5febf","name":"","topic":"sensor1/light","qos":"2","broker":"ef1abd71.ad3578","x":129.1666717529297,"y":115.16666412353516,"wires":[["5dfc58b7.7d8cd","b61fb1cf.f020e8","68f79f7c.0b1b88"]]},{"id":"5dfc58b7.7d8cd","type":"ui_gauge","z":"ed87c536.5febf","name":"","group":"45862737.5ab18","order":1,"width":"4","height":"4","gtype":"gage","title":"Luce","label":"units","format":"{{value}}","min":0,"max":"1024","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":352.16668701171875,"y":114.16666412353516,"wires":[]},{"id":"c9d36214.8cd7a","type":"mqtt in","z":"ed87c536.5febf","name":"","topic":"sensor1/button","qos":"2","broker":"ef1abd71.ad3578","x":134.1666717529297,"y":239.1666717529297,"wires":[["b50058ff.deadd8"]]},{"id":"cd3a226a.829f48","type":"ui_switch","z":"ed87c536.5febf","name":"","label":"switch","group":"45862737.5ab18","order":3,"width":"4","height":"2","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":580.1666870117188,"y":236.1666717529297,"wires":[[]]},{"id":"b61fb1cf.f020e8","type":"ui_chart","z":"ed87c536.5febf","name":"","group":"45862737.5ab18","order":2,"width":"8","height":"4","label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"1024","removeOlder":"30","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":353.83335876464844,"y":163.5,"wires":[[],[]]},{"id":"2d85cf8a.24705","type":"ui_button","z":"ed87c536.5febf","name":"ON","group":"45862737.5ab18","order":5,"width":"3","height":"1","passthru":false,"label":"ON","color":"","bgcolor":"","icon":"","payload":"#0000ff","payloadType":"str","topic":"","x":99.83334350585938,"y":369.16668701171875,"wires":[["c917016e.f7ce18"]]},{"id":"dab4843f.a1e488","type":"ui_button","z":"ed87c536.5febf","name":"OFF","group":"45862737.5ab18","order":6,"width":"3","height":"1","passthru":false,"label":"OFF","color":"","bgcolor":"","icon":"","payload":"#000000","payloadType":"str","topic":"","x":100.16667175292969,"y":412.1666564941406,"wires":[["c917016e.f7ce18"]]},{"id":"c917016e.f7ce18","type":"mqtt out","z":"ed87c536.5febf","name":"","topic":"sensor1/rgb","qos":"","retain":"","broker":"ef1abd71.ad3578","x":537.1666870117188,"y":364.1666717529297,"wires":[]},{"id":"8e178b4b.c5a19","type":"ui_colour_picker","z":"ed87c536.5febf","name":"","label":"Led Color:","group":"45862737.5ab18","format":"hex","outformat":"string","showSwatch":true,"showPicker":false,"showValue":false,"showHue":true,"showAlpha":false,"showLightness":true,"dynOutput":"false","order":7,"width":"2","height":"1","passthru":true,"topic":"","x":115.83334350585938,"y":452.8333435058594,"wires":[["4728dca1.4d043c"]]},{"id":"4728dca1.4d043c","type":"function","z":"ed87c536.5febf","name":"","func":"msg.payload = \"#\" + msg.payload; \nreturn msg;","outputs":1,"noerr":0,"x":341.8333740234375,"y":427.6666564941406,"wires":[["c917016e.f7ce18"]]},{"id":"b50058ff.deadd8","type":"switch","z":"ed87c536.5febf","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":301.8333740234375,"y":237.33338928222656,"wires":[["fe59f245.177a8"]]},{"id":"fe59f245.177a8","type":"function","z":"ed87c536.5febf","name":"","func":"var val = global.get('switch')|false;\n\nval = !val;\n\nglobal.set('switch', val);\n\nmsg.payload = val;\nreturn msg;","outputs":1,"noerr":0,"x":439.8333740234375,"y":236.49998474121094,"wires":[["cd3a226a.829f48"]]},{"id":"a5fe396a.f96be","type":"ui_template","z":"ed87c536.5febf","group":"9aa270fd.17af","name":"webcam","order":1,"width":"0","height":"0","format":"{{msg.payload}}\n\n<img src=\"http://192.168.100.1:8080/?action=stream\">\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":577.8333740234375,"y":537.6666870117188,"wires":[[]]},{"id":"68f79f7c.0b1b88","type":"change","z":"ed87c536.5febf","name":"","rules":[{"t":"set","p":"light1","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":386.16668701171875,"y":63.166664123535156,"wires":[[]]},{"id":"ac3f2347.b7c","type":"inject","z":"ed87c536.5febf","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":169.1666717529297,"y":527.1666870117188,"wires":[["fe4fbbba.62df5"]]},{"id":"9060786e.a954f8","type":"ui_template","z":"ed87c536.5febf","group":"45862737.5ab18","name":"","order":4,"width":"8","height":"2","format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":518.1666870117188,"y":299.1666564941406,"wires":[[]]},{"id":"fe4fbbba.62df5","type":"moment","z":"ed87c536.5febf","name":"","topic":"","input":"","inputType":"msg","inTz":"Etc/UTC","adjAmount":0,"adjType":"days","adjDir":"add","format":"","locale":"POSIX","output":"","outputType":"msg","outTz":"Etc/UTC","x":380.83335876464844,"y":538.9999847412109,"wires":[["a5fe396a.f96be"]]},{"id":"cb4864a4.b9cd18","type":"mqtt in","z":"ed87c536.5febf","name":"","topic":"sensor2/light","qos":"2","broker":"ef1abd71.ad3578","x":756.9999847412109,"y":89,"wires":[["94387432.3b9fd8","2172ce6d.fa7be2","bf15f81d.57e718"]]},{"id":"94387432.3b9fd8","type":"ui_gauge","z":"ed87c536.5febf","name":"","group":"4e7d18b8.2b9fb","order":1,"width":"4","height":"4","gtype":"gage","title":"Luce","label":"units","format":"{{value}}","min":0,"max":"1024","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":980,"y":88,"wires":[]},{"id":"2172ce6d.fa7be2","type":"ui_chart","z":"ed87c536.5febf","name":"","group":"4e7d18b8.2b9fb","order":2,"width":"6","height":"4","label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"1024","removeOlder":"30","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":981.6666717529297,"y":137.33333587646484,"wires":[[],[]]},{"id":"bf15f81d.57e718","type":"change","z":"ed87c536.5febf","name":"","rules":[{"t":"set","p":"light2","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1014,"y":37,"wires":[[]]},{"id":"ef1abd71.ad3578","type":"mqtt-broker","z":"","name":"mosquitto","broker":"192.168.100.1","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"45862737.5ab18","type":"ui_group","z":"","name":"Sensor1","tab":"245e82.3a58e17e","order":1,"disp":true,"width":"12","collapse":true},{"id":"9aa270fd.17af","type":"ui_group","z":"","name":"webcam","tab":"245e82.3a58e17e","order":3,"disp":true,"width":"12","collapse":false},{"id":"4e7d18b8.2b9fb","type":"ui_group","z":"","name":"Sensor2","tab":"245e82.3a58e17e","order":2,"disp":true,"width":"6","collapse":false},{"id":"245e82.3a58e17e","type":"ui_tab","z":"","name":"Home","icon":"dashboard"}]
