slides/node-red-json/firmata-neopixel.json
[{"id":"6a60ef6f.6ba29","type":"debug","z":"28ba2a66.d4740e","name":"","active":true,"console":"false","complete":"true","x":1210,"y":295,"wires":[]},{"id":"82fe9429.5f3058","type":"inject","z":"28ba2a66.d4740e","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"x":210,"y":100,"wires":[["13e00c6.b3f7174"]]},{"id":"5f8936bf.399ca","type":"inject","z":"28ba2a66.d4740e","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"x":209,"y":152,"wires":[["13e00c6.b3f7174"]]},{"id":"13e00c6.b3f7174","type":"arduino out","z":"28ba2a66.d4740e","name":"LED","pin":"13","state":"OUTPUT","arduino":"a2d2494f.71df78","x":390,"y":135,"wires":[]},{"id":"44119d4d.4e7634","type":"arduino in","z":"28ba2a66.d4740e","name":"","pin":"","state":"STRING","arduino":"a2d2494f.71df78","x":1070,"y":295,"wires":[["6a60ef6f.6ba29"]]},{"id":"e10a43a2.3405c8","type":"inject","z":"28ba2a66.d4740e","name":"","topic":"","payload":"ShowType1","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":230,"y":275,"wires":[["36ce20f8.f81828"]]},{"id":"36ce20f8.f81828","type":"arduino out","z":"28ba2a66.d4740e","name":"","pin":"","state":"STRING","arduino":"a2d2494f.71df78","x":910,"y":295,"wires":[]},{"id":"da0582b1.669a3","type":"link in","z":"28ba2a66.d4740e","name":"","links":[],"x":238,"y":55,"wires":[["13e00c6.b3f7174"]]},{"id":"1e4104df.33e163","type":"inject","z":"28ba2a66.d4740e","name":"","topic":"","payload":"ShowType2","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":230,"y":335,"wires":[["36ce20f8.f81828"]]},{"id":"c437677e.ed177","type":"inject","z":"28ba2a66.d4740e","name":"","topic":"","payload":"ShowType3","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":230,"y":395,"wires":[["36ce20f8.f81828"]]},{"id":"8aa5ef3d.29c8b8","type":"inject","z":"28ba2a66.d4740e","name":"","topic":"","payload":"ShowType4","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":230,"y":455,"wires":[["36ce20f8.f81828"]]},{"id":"8beedbc.b1ad9a8","type":"inject","z":"28ba2a66.d4740e","name":"","topic":"","payload":"ShowTypeA","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":230,"y":495,"wires":[["36ce20f8.f81828"]]},{"id":"5558e81e.cc867","type":"inject","z":"28ba2a66.d4740e","name":"","topic":"","payload":"ShowType0","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"1","x":230,"y":215,"wires":[["36ce20f8.f81828"]]},{"id":"6fefe594.1dacc4","type":"inject","z":"28ba2a66.d4740e","name":"","topic":"","payload":"ShowVal01","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":200,"y":555,"wires":[["36ce20f8.f81828"]]},{"id":"aefce1a0.3e487","type":"inject","z":"28ba2a66.d4740e","name":"","topic":"","payload":"ShowVal02","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":200,"y":595,"wires":[["36ce20f8.f81828"]]},{"id":"d76e51b4.c0b42","type":"inject","z":"28ba2a66.d4740e","name":"","topic":"","payload":"ShowVal05","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":200,"y":635,"wires":[["36ce20f8.f81828"]]},{"id":"5d67464a.d1b9b","type":"inject","z":"28ba2a66.d4740e","name":"","topic":"","payload":"ShowVal16","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":200,"y":695,"wires":[["36ce20f8.f81828"]]},{"id":"fabf905f.410fa8","type":"ui_slider","z":"28ba2a66.d4740e","name":"","label":"slider","group":"2ea92d87.84e36a","order":0,"width":0,"height":0,"passthru":true,"topic":"","min":0,"max":"10","step":1,"x":530,"y":715,"wires":[["daf77fb6.fbc7b8","968baaf4.c8f1f"]]},{"id":"daf77fb6.fbc7b8","type":"function","z":"28ba2a66.d4740e","name":"","func":"if (msg.payload < 10)\n    msg.payload = \"ShowType\"+msg.payload;\nelse\n    msg.payload = \"ShowTypeA\";\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":635,"wires":[["36ce20f8.f81828"]]},{"id":"968baaf4.c8f1f","type":"ui_text","z":"28ba2a66.d4740e","group":"2ea92d87.84e36a","order":0,"width":0,"height":0,"name":"","label":"Show Type:","format":"{{msg.payload}}","layout":"row-spread","x":710,"y":715,"wires":[]},{"id":"7e1c0549.7b1eec","type":"ui_slider","z":"28ba2a66.d4740e","name":"","label":"Value ","group":"2ea92d87.84e36a","order":0,"width":0,"height":0,"passthru":true,"topic":"","min":0,"max":"16","step":1,"x":510,"y":615,"wires":[["30cd29cf.e417de","25825c7d.24198c"]]},{"id":"30cd29cf.e417de","type":"function","z":"28ba2a66.d4740e","name":"","func":"if (msg.payload < 10)\n    msg.payload = \"ShowVal0\"+msg.payload;\nelse \n    msg.payload = \"ShowVal\"+msg.payload;\n\n\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":555,"wires":[["36ce20f8.f81828"]]},{"id":"25825c7d.24198c","type":"ui_text","z":"28ba2a66.d4740e","group":"2ea92d87.84e36a","order":0,"width":0,"height":0,"name":"","label":"Show Value:","format":"{{msg.payload}}","layout":"row-spread","x":690,"y":495,"wires":[]},{"id":"a2d2494f.71df78","type":"arduino-board","z":"","device":"/dev/ttyUSB0"},{"id":"2ea92d87.84e36a","type":"ui_group","z":"","name":"Default","tab":"5c0f4f5a.64fe8","disp":true,"width":"6","collapse":false},{"id":"5c0f4f5a.64fe8","type":"ui_tab","z":"","name":"Home","icon":"dashboard"}]
