slides/node-red-json/helloworld.json
[{"id":"71b9fd50.f8fb94","type":"inject","z":"8fe5adb8.6b8458","name":"","topic":"test1","payload":"Hello World","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":201.5,"y":112.5,"wires":[["386c3d79.a0676a"]]},{"id":"386c3d79.a0676a","type":"debug","z":"8fe5adb8.6b8458","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":415,"y":113,"wires":[]},{"id":"82509e41.7f3948","type":"random","z":"8fe5adb8.6b8458","name":"Temp","low":"10","high":"30","inte":"true","property":"payload","x":366,"y":244,"wires":[["b4be0761.ffed88"]]},{"id":"b4be0761.ffed88","type":"debug","z":"8fe5adb8.6b8458","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":557,"y":243,"wires":[]},{"id":"7bc92633.d265a","type":"inject","z":"8fe5adb8.6b8458","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":177,"y":245,"wires":[["82509e41.7f3948"]]},{"id":"7d70b75d.82d4a","type":"random","z":"8fe5adb8.6b8458","name":"Temp","low":"10","high":"30","inte":"true","property":"payload","x":629,"y":407,"wires":[["17815d76.496053"]]},{"id":"17815d76.496053","type":"debug","z":"8fe5adb8.6b8458","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":800,"y":406,"wires":[]},{"id":"ca1cdc38.897098","type":"inject","z":"8fe5adb8.6b8458","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":174,"y":388,"wires":[["d9d35d16.39854"]]},{"id":"f132a50d.e88ca8","type":"debug","z":"8fe5adb8.6b8458","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":628,"y":359,"wires":[]},{"id":"d9d35d16.39854","type":"change","z":"8fe5adb8.6b8458","name":"","rules":[{"t":"set","p":"nome","pt":"msg","to":"ivan","tot":"str"},{"t":"set","p":"cognome","pt":"msg","to":"tarozzi","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":356,"y":390,"wires":[["f132a50d.e88ca8","7d70b75d.82d4a"]]}]
