slides/node-red-json/mqtt-basic.json
[{"id":"bcf1d20d.64e658","type":"inject","z":"6ce972e2.744f04","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":140.49998474121094,"y":54.50000762939453,"wires":[["a8da69de.643cd"]]},{"id":"6a5e145a.d6aaa4","type":"mqtt out","z":"6ce972e2.744f04","name":"temp","topic":"temperatura","qos":"1","retain":"","broker":"ef1abd71.ad3578","x":447.49998474121094,"y":55.00000762939453,"wires":[]},{"id":"a8da69de.643cd","type":"random","z":"6ce972e2.744f04","name":"test1","low":"1","high":"50","inte":"true","property":"payload","x":283.99998474121094,"y":55.00000762939453,"wires":[["6a5e145a.d6aaa4"]]},{"id":"881d9e37.5c27f","type":"mqtt in","z":"6ce972e2.744f04","name":"","topic":"temperatura","qos":"2","broker":"ef1abd71.ad3578","x":116.99998474121094,"y":144.00000762939453,"wires":[["6c3ca915.74a16"]]},{"id":"6c3ca915.74a16","type":"debug","z":"6ce972e2.744f04","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":365.99998474121094,"y":145.00000762939453,"wires":[]},{"id":"fec19528.b841a","type":"mqtt in","z":"6ce972e2.744f04","name":"","topic":"sensor1/light","qos":"2","broker":"ef1abd71.ad3578","x":120.99998474121094,"y":253,"wires":[["1f1177a5.d419a"]]},{"id":"1f1177a5.d419a","type":"debug","z":"6ce972e2.744f04","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":370,"y":252,"wires":[]},{"id":"157d538c.daaf4c","type":"mqtt in","z":"6ce972e2.744f04","name":"","topic":"sensor1/button","qos":"2","broker":"ef1abd71.ad3578","x":133.99998474121094,"y":347,"wires":[["1f1177a5.d419a"]]},{"id":"18912231.8d132e","type":"mqtt out","z":"6ce972e2.744f04","name":"","topic":"sensor1/rgb","qos":"","retain":"","broker":"ef1abd71.ad3578","x":450.16668701171875,"y":420.16668701171875,"wires":[]},{"id":"f1f8bf8a.5a3128","type":"inject","z":"6ce972e2.744f04","name":"red","topic":"","payload":"#ff0000","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":119.16667175292969,"y":435.16668701171875,"wires":[["18912231.8d132e"]]},{"id":"47b86190.04fa1","type":"inject","z":"6ce972e2.744f04","name":"Green","topic":"","payload":"#00ff00","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":117.16667175292969,"y":495.16668701171875,"wires":[["18912231.8d132e"]]},{"id":"163e1518.2f337b","type":"inject","z":"6ce972e2.744f04","name":"Blue","topic":"","payload":"#0000ff","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":115.16667175292969,"y":550.1666412353516,"wires":[["18912231.8d132e"]]},{"id":"9f068a82.fff858","type":"link in","z":"6ce972e2.744f04","name":"","links":["b1fb9549.971b48"],"x":102.83334350585938,"y":609.3333587646484,"wires":[["18912231.8d132e"]]},{"id":"ef1abd71.ad3578","type":"mqtt-broker","z":"","name":"mosquitto","broker":"192.168.100.1","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""}]
