slides/node-red-json/telegram.json
[{"id":"e1fa350b.79dc08","type":"chatbot-telegram-receive","z":"f4af4c73.1990b8","bot":"904bd356.16","botProduction":"904bd356.16","x":117,"y":326,"wires":[["bc1f38c5.d8689","46caf27a.bd03dc","5659dc74.01b0e4","8db45b95.a8699","dd1d32e2.df4658","ad8039f3.1131a8","5d548e69.8c0b58","addc66a0.87dba","2ab34a9d.ee306e","ed01f526.120298","167f0852.1998f8","8fd46556.edef98","428e7a88.13161c"]]},{"id":"49403608.1508a","type":"chatbot-telegram-send","z":"f4af4c73.1990b8","bot":"904bd356.16","track":false,"outputs":0,"x":1147,"y":503,"wires":[]},{"id":"bc1f38c5.d8689","type":"chatbot-command","z":"f4af4c73.1990b8","name":"","command":"/ok_bot","x":371,"y":207,"wires":[["727a72c2.3ed87c"]]},{"id":"727a72c2.3ed87c","type":"chatbot-inline-buttons","z":"f4af4c73.1990b8","name":"","buttons":[{"type":"postback","label":"Comandi","value":"/command","answer":"","alert":false,"style":""},{"type":"postback","label":"Richiesta stato","value":"/status","answer":"","alert":false,"style":""}],"message":"Cosa vuoi fare?","x":549,"y":208,"wires":[["49403608.1508a"]]},{"id":"5659dc74.01b0e4","type":"chatbot-command","z":"f4af4c73.1990b8","name":"","command":"/status","x":360,"y":303,"wires":[["fe6e1f36.1cf828"]]},{"id":"46caf27a.bd03dc","type":"chatbot-command","z":"f4af4c73.1990b8","name":"","command":"/command","x":380,"y":256,"wires":[["3814f7ea.c7764"]]},{"id":"3814f7ea.c7764","type":"chatbot-inline-buttons","z":"f4af4c73.1990b8","name":"","buttons":[{"type":"postback","label":"LED ON","value":"/led_on","answer":"","alert":false,"style":""},{"type":"postback","label":"LED OFF","value":"/led_off","answer":"","alert":false,"style":""}],"message":"Seleziona il comando","x":550,"y":261,"wires":[["49403608.1508a"]]},{"id":"38675250.3d1cb6","type":"comment","z":"f4af4c73.1990b8","name":"Menu Intermedi","info":"","x":392,"y":165,"wires":[]},{"id":"fe6e1f36.1cf828","type":"chatbot-inline-buttons","z":"f4af4c73.1990b8","name":"","buttons":[{"type":"postback","label":"Dati ambientali","value":"/get_amb","answer":"","alert":false,"style":""},{"type":"postback","label":"Stato utenze","value":"/get_status","answer":"","alert":false,"style":""},{"type":"newline"},{"type":"postback","label":"Webcam","value":"/get_image","answer":"","alert":false,"style":""},{"type":"postback","label":"Informazioni","value":"/info","answer":"","alert":false,"style":"primary"}],"message":"Cosa vuoi sapere?","x":542,"y":309,"wires":[["49403608.1508a"]]},{"id":"8db45b95.a8699","type":"chatbot-command","z":"f4af4c73.1990b8","name":"","command":"/info","x":361,"y":358,"wires":[["abd19285.c534b8"]]},{"id":"abd19285.c534b8","type":"chatbot-inline-buttons","z":"f4af4c73.1990b8","name":"","buttons":[{"type":"postback","label":"Chi sono","value":"/whois","answer":"","alert":false,"style":""},{"type":"postback","label":"Dove sono","value":"/get_pos","answer":"","alert":false,"style":""},{"type":"newline"},{"type":"url","label":"FabLab Romagna web site","url":"http://www.fablabromagna.org","webViewHeightRatio":"tall","extensions":false,"answer":"","alert":false}],"message":"Informazioni","x":545,"y":361,"wires":[["49403608.1508a"]]},{"id":"2598db74.d2e574","type":"chatbot-location","z":"f4af4c73.1990b8","name":"FabLab Romagna @ Opificio Golinelli","latitude":"44.5084987","longitude":"11.304947","place":"FLR Workshop @ Opificio Golinelli","x":638,"y":496,"wires":[["49403608.1508a"]]},{"id":"bc53ed65.5aac78","type":"comment","z":"f4af4c73.1990b8","name":"Risposte ai comandi","info":"","x":402,"y":430,"wires":[]},{"id":"dd1d32e2.df4658","type":"chatbot-command","z":"f4af4c73.1990b8","name":"","command":"/get_pos","x":367,"y":496,"wires":[["2598db74.d2e574"]]},{"id":"ad8039f3.1131a8","type":"chatbot-command","z":"f4af4c73.1990b8","name":"","command":"/whois","x":355,"y":548,"wires":[["419c3f3.2ffb2c"]]},{"id":"419c3f3.2ffb2c","type":"chatbot-message","z":"f4af4c73.1990b8","name":"Whois Message","message":[{"message":"Ciao, sono il BOT flr_rimini1\nSono stato creato per la demo IoT di FabLab Romagna.\n"}],"answer":false,"track":false,"x":570,"y":547,"wires":[["49403608.1508a"]]},{"id":"5d548e69.8c0b58","type":"chatbot-command","z":"f4af4c73.1990b8","name":"","command":"/led_on","x":358,"y":760,"wires":[["3d586378.84ff9c","442944d9.27fcc4"]]},{"id":"addc66a0.87dba","type":"chatbot-command","z":"f4af4c73.1990b8","name":"","command":"/led_off","x":358.5,"y":806,"wires":[["c100d28d.040ba8","3d586378.84ff9c"]]},{"id":"3d586378.84ff9c","type":"chatbot-message","z":"f4af4c73.1990b8","name":"","message":[{"message":"Comando LED eseguito"}],"answer":false,"track":false,"x":716,"y":757,"wires":[["49403608.1508a"]]},{"id":"c100d28d.040ba8","type":"change","z":"f4af4c73.1990b8","name":"OFF LED","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"},{"t":"set","p":"led","pt":"global","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":561,"y":893,"wires":[["b1fb9549.971b48"]]},{"id":"442944d9.27fcc4","type":"change","z":"f4af4c73.1990b8","name":"ON LED","rules":[{"t":"set","p":"payload","pt":"msg","to":"#ffffff","tot":"str"},{"t":"set","p":"led","pt":"global","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":559.5,"y":836,"wires":[["b1fb9549.971b48"]]},{"id":"2ab34a9d.ee306e","type":"chatbot-command","z":"f4af4c73.1990b8","name":"","command":"/get_status","x":376,"y":666,"wires":[["2df4a83b.fad4b8"]]},{"id":"8c6fffe2.2d7758","type":"chatbot-message","z":"f4af4c73.1990b8","name":"Status Message","message":[],"answer":false,"track":false,"x":742,"y":666,"wires":[["49403608.1508a"]]},{"id":"2df4a83b.fad4b8","type":"function","z":"f4af4c73.1990b8","name":"msg status","func":"\nvar message = \"\"\n\nmessage += \"Stato Led: \";\nmessage += (global.get(\"led\") === 1)?\"ON\":\"OFF\"\nmessage += \"\\nStato Vent: \";\nmessage += (global.get(\"vent\") === 1)?\"ON\":\"OFF\"\n\n\n\n\nmsg.payload = message;\nreturn msg;","outputs":1,"noerr":0,"x":554,"y":669,"wires":[["8c6fffe2.2d7758"]]},{"id":"8fd46556.edef98","type":"chatbot-command","z":"f4af4c73.1990b8","name":"","command":"/vent_on","x":345,"y":953,"wires":[["d7493797.db651","4c6c0176.ba7b78"]]},{"id":"428e7a88.13161c","type":"chatbot-command","z":"f4af4c73.1990b8","name":"","command":"/vent_off","x":342.5,"y":1010,"wires":[["692aa5bd.2cbf5c","4c6c0176.ba7b78"]]},{"id":"80cdebdd.884bd","type":"ui_button","z":"f4af4c73.1990b8","name":"","group":"4e40e526.83b434","order":5,"width":"3","height":"1","label":"VENT ON","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"num","topic":"","x":336.5,"y":1066,"wires":[["d7493797.db651"]]},{"id":"f8978ed5.70cdf","type":"ui_button","z":"f4af4c73.1990b8","name":"","group":"4e40e526.83b434","order":6,"width":"3","height":"1","label":"VENT OFF","color":"","bgcolor":"","icon":"","payload":"0","payloadType":"num","topic":"","x":342.5,"y":1119,"wires":[["692aa5bd.2cbf5c"]]},{"id":"692aa5bd.2cbf5c","type":"change","z":"f4af4c73.1990b8","name":"OFF VENT","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"},{"t":"set","p":"vent","pt":"global","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":719,"y":1068,"wires":[["73d9107d.fdf0d"]]},{"id":"d7493797.db651","type":"change","z":"f4af4c73.1990b8","name":"ON VENT","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"},{"t":"set","p":"vent","pt":"global","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":710.5,"y":1025,"wires":[["73d9107d.fdf0d"]]},{"id":"4c6c0176.ba7b78","type":"chatbot-message","z":"f4af4c73.1990b8","name":"","message":[{"message":"Comando VENT eseguito"}],"answer":false,"track":false,"x":702,"y":955,"wires":[["49403608.1508a"]]},{"id":"41588118.1db808","type":"inject","z":"f4af4c73.1990b8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":351,"y":1262,"wires":[["b38be4eb.7b6178"]]},{"id":"b38be4eb.7b6178","type":"change","z":"f4af4c73.1990b8","name":"","rules":[{"t":"set","p":"level_thr","pt":"global","to":"800","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":537,"y":1261,"wires":[[]]},{"id":"dce280a3.51a38","type":"comment","z":"f4af4c73.1990b8","name":"Inizializzazione valori","info":"","x":369,"y":1215,"wires":[]},{"id":"ed01f526.120298","type":"chatbot-command","z":"f4af4c73.1990b8","name":"","command":"/get_image","x":374,"y":586,"wires":[["e5bdef82.579088"]]},{"id":"e0e2b14a.0e54d","type":"chatbot-image","z":"f4af4c73.1990b8","name":"","filename":"","image":"","caption":"","x":738,"y":599.0000305175781,"wires":[["49403608.1508a"]]},{"id":"167f0852.1998f8","type":"chatbot-command","z":"f4af4c73.1990b8","name":"","command":"/get_amb","x":370,"y":704,"wires":[["6e9c8299.2e9ccc"]]},{"id":"6e9c8299.2e9ccc","type":"function","z":"f4af4c73.1990b8","name":"msg status","func":"\nvar message = \"\"\n\nmessage += \"Light Level: \";\nmessage += global.get(\"light\");\n\n\n\nmessage += \"\\nTemp: \";\nmessage += global.get(\"temp\")|\"-\" + \"C\";\n\nmessage += \"\\nUmid: \";\nmessage += global.get(\"umid\")|\"-\" + \"%\";\n\n\nmsg.payload = message;\nreturn msg;","outputs":1,"noerr":0,"x":558,"y":707,"wires":[["6c07c677.fac5d"]]},{"id":"6c07c677.fac5d","type":"chatbot-message","z":"f4af4c73.1990b8","name":"Status Message","message":[],"answer":false,"track":false,"x":746,"y":704,"wires":[["49403608.1508a"]]},{"id":"b1fb9549.971b48","type":"link out","z":"f4af4c73.1990b8","name":"telegram_led_cmd","links":["9f068a82.fff858"],"x":772.9999389648438,"y":857,"wires":[]},{"id":"73d9107d.fdf0d","type":"link out","z":"f4af4c73.1990b8","name":"vent_cmd","links":["3c841cd7.7ea464","941db117.4dfc18"],"x":882,"y":1041,"wires":[]},{"id":"2674eb95.c0594c","type":"chatbot-location","z":"f4af4c73.1990b8","name":"FabLab Romagna - Maker Space Rimini","latitude":"44.048223","longitude":"12.582524","place":"FLR - Maker Space Rimini","x":648.5,"y":461.16668701171875,"wires":[[]]},{"id":"e5bdef82.579088","type":"http request","z":"f4af4c73.1990b8","name":"","method":"GET","ret":"bin","url":"192.168.100.1:8080?action=snapshot","tls":"","x":582.88330078125,"y":598.6833801269531,"wires":[["e0e2b14a.0e54d"]]},{"id":"904bd356.16","type":"chatbot-telegram-node","z":"","botname":"flr_rimini1_bot","usernames":"","providerToken":"425767806:AAGmoUvIexhT1pJZFKW1MlL46qy4v2jilz4","polling":"1000","store":"","log":"","parseMode":"","debug":false},{"id":"4e40e526.83b434","type":"ui_group","z":"","name":"Comandi","tab":"39b7c4ba.3e9954","disp":true,"width":"6"},{"id":"39b7c4ba.3e9954","type":"ui_tab","z":"","name":"FabLab Romagna - Rasp-Red IoT","icon":"dashboard"}]
