slides/node-red-json/webservices.json
[{"id":"bfd77bd4.e5c0a","type":"change","z":"ac8bcd9c.bfd518","name":"sensor2","rules":[{"t":"set","p":"payload.name","pt":"msg","to":"sensor2","tot":"str"},{"t":"set","p":"payload.value","pt":"msg","to":"212","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":240,"wires":[["94164e66.fe245"]]},{"id":"52a5315c.3e4e5","type":"http in","z":"ac8bcd9c.bfd518","name":"","url":"/api/get_sensor/:id","method":"get","upload":false,"swaggerDoc":"","x":140,"y":200,"wires":[["b1215f4f.c4fd98","680d45fb.05e894"]]},{"id":"94164e66.fe245","type":"json","z":"ac8bcd9c.bfd518","name":"","property":"payload","action":"","pretty":false,"x":710,"y":200,"wires":[["c8ae6c1a.2f2ef"]]},{"id":"c8ae6c1a.2f2ef","type":"http response","z":"ac8bcd9c.bfd518","name":"","statusCode":"","headers":{},"x":850,"y":200,"wires":[]},{"id":"23982c7f.f79cb4","type":"change","z":"ac8bcd9c.bfd518","name":"sensor1","rules":[{"t":"set","p":"payload.name","pt":"msg","to":"sensor1","tot":"str"},{"t":"set","p":"payload.value","pt":"msg","to":"101","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":160,"wires":[["94164e66.fe245"]]},{"id":"b1215f4f.c4fd98","type":"debug","z":"ac8bcd9c.bfd518","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":370,"y":280,"wires":[]},{"id":"680d45fb.05e894","type":"switch","z":"ac8bcd9c.bfd518","name":"","property":"req.params.id","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":370,"y":200,"wires":[["23982c7f.f79cb4"],["bfd77bd4.e5c0a"]]},{"id":"eee1b800.0f79a8","type":"comment","z":"ac8bcd9c.bfd518","name":"WebServices","info":"","x":110,"y":140,"wires":[]}]
