node-red-json/node-red-json.json
[{"id":"1bdc2058.fbf978","type":"tab","label":"Arduino","disabled":true,"info":""},{"id":"9b307adc.ff9ed8","type":"tab","label":"WebServices","disabled":false,"info":""},{"id":"a7bdf021.a8fe3","type":"tab","label":"InfluxDB","disabled":true,"info":""},{"id":"cf070f33.1f2d6","type":"tab","label":"witty","disabled":false,"info":""},{"id":"6df35f15.465e3","type":"tab","label":"Sonoff Tasmota controller","disabled":false,"info":""},{"id":"aa95ed23.39cec8","type":"tab","label":"Grafana - JSON","disabled":false,"info":""},{"id":"f823765f.98a2a8","type":"tab","label":"Maps","disabled":true,"info":""},{"id":"f371b42b.6dfa38","type":"tab","label":"OpenCV","disabled":true,"info":""},{"id":"c9124f62.a24d1","type":"tab","label":"Telegram","disabled":true,"info":""},{"id":"b80a39eb.36cf18","type":"mqtt-broker","z":"","name":"eclipse","broker":"iot.eclipse.org","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"b376df7f.78e608","type":"ui_tab","z":"","name":"Home","icon":"dashboard"},{"id":"fa6d1f16.de06e","type":"ui_group","z":"","name":"Webcam","tab":"b376df7f.78e608","disp":true,"width":"10","collapse":false},{"id":"459064cb.61f77c","type":"mqtt-broker","z":"","name":"","broker":" test.mosquitto.org","port":"8884","tls":"","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"c4258ede.1333c","type":"mqtt-broker","z":"","name":"","broker":" test.mosquitto.org","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"fbf55b3d.055db8","type":"mqtt-broker","z":"","name":"smarthome","broker":"192.168.10.5","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"907ccaf7.4852","type":"influxdb","z":"","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"test1","name":"","usetls":false,"tls":""},{"id":"91513dff.705838","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"5c99b74e.d96f5","type":"mqtt-broker","z":"","broker":"iot.eclipse.org","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"9d8f7513.541cb8","type":"influxdb","z":"","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"iot_test","name":"","usetls":false,"tls":""},{"id":"3401043a.70e864","type":"ui_group","z":"","name":"charts","tab":"b376df7f.78e608","disp":true,"width":"12","collapse":false},{"id":"c1387764.d2e6d8","type":"mqtt-broker","z":"","name":"iotws-mosquitto","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"3d8eb2c2.0efaee","type":"ui_group","z":"","name":"Lights","tab":"9ca02765.c3b3c","order":1,"disp":true,"width":"12","collapse":true},{"id":"ab7adaaf.ed47d8","type":"ui_group","z":"","name":"webcam","tab":"","order":3,"disp":true,"width":"12","collapse":false},{"id":"a7e79262.7f7b2","type":"ui_group","z":"","name":"Witty","tab":"9ca02765.c3b3c","order":2,"disp":true,"width":"6","collapse":false},{"id":"c8e2d8f5.3b28a8","type":"ui_group","z":"f823765f.98a2a8","name":"Default","tab":"90dfdd77.13a3c","disp":true,"width":"12","collapse":false},{"id":"90dfdd77.13a3c","type":"ui_tab","z":"f823765f.98a2a8","name":"Maps","icon":"dashboard"},{"id":"5ee64f2d.53dab","type":"arduino-board","z":"","device":"/dev/ttyUSB0"},{"id":"96cd1bb9.330ef8","type":"ui_group","z":"","name":"Control","tab":"809dd6e4.ab2b7","disp":true,"width":"6","collapse":false},{"id":"809dd6e4.ab2b7","type":"ui_tab","z":"","name":"Arduino","icon":"dashboard"},{"id":"9c4264b0.b52fe8","type":"ui_group","z":"","name":"NeoPixel Scenery","tab":"809dd6e4.ab2b7","disp":true,"width":"6","collapse":false},{"id":"9ca02765.c3b3c","type":"ui_tab","z":"","name":"SmartHome","icon":"dashboard"},{"id":"515771a0.37616","type":"chatbot-telegram-node","z":"","botname":"flr_rimini1_bot","usernames":"","polling":"1000","store":"","log":"","parseMode":""},{"id":"d9495c0b.d3292","type":"ui_group","z":"","name":"Comandi","tab":"f9d0420b.aabf58","disp":true,"width":"6"},{"id":"f9d0420b.aabf58","type":"ui_tab","z":"","name":"FabLab Romagna - Rasp-Red IoT","icon":"dashboard"},{"id":"415ca227.7d716c","type":"chatbot-telegram-node","z":"","botname":"IoTweBot","usernames":"","polling":"1000","store":"","log":"","parseMode":""},{"id":"ab2a6e90.831d8","type":"inject","z":"6df35f15.465e3","name":"","topic":"","payload":"TOGGLE","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":182,"y":192,"wires":[["e19feb4.e4eeb18"]]},{"id":"e19feb4.e4eeb18","type":"mqtt out","z":"6df35f15.465e3","name":"","topic":"smarthome/cmnd/luce1/POWER1","qos":"","retain":"","broker":"c1387764.d2e6d8","x":660,"y":160,"wires":[]},{"id":"e1e7c9d5.ef1048","type":"inject","z":"6df35f15.465e3","name":"","topic":"","payload":"ON","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":80,"wires":[["e19feb4.e4eeb18"]]},{"id":"294725d8.98a51a","type":"inject","z":"6df35f15.465e3","name":"","topic":"","payload":"OFF","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":140,"wires":[["e19feb4.e4eeb18"]]},{"id":"d5090651.26c308","type":"mqtt in","z":"6df35f15.465e3","name":"","topic":"smarthome/stat/luce1/POWER","qos":"2","broker":"c1387764.d2e6d8","x":970,"y":160,"wires":[["2f33dcf7.e816b4","ba0bed15.ef3558"]]},{"id":"2f33dcf7.e816b4","type":"debug","z":"6df35f15.465e3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1211,"y":154,"wires":[]},{"id":"5d4ab94a.d04c88","type":"influxdb out","z":"a7bdf021.a8fe3","influxdb":"9d8f7513.541cb8","name":"","measurement":"sensors_test","precision":"","retentionPolicy":"","x":940,"y":60,"wires":[]},{"id":"c7d57f33.493bc8","type":"inject","z":"a7bdf021.a8fe3","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":60,"wires":[["5f5fe1f3.245f68"]]},{"id":"5f5fe1f3.245f68","type":"random","z":"a7bdf021.a8fe3","name":"","low":"1","high":"50","inte":"true","property":"payload","x":520,"y":60,"wires":[["5d4ab94a.d04c88","2c580627.3565ba"]]},{"id":"2c580627.3565ba","type":"debug","z":"a7bdf021.a8fe3","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":850,"y":120,"wires":[]},{"id":"764de816.823f98","type":"influxdb in","z":"a7bdf021.a8fe3","influxdb":"9d8f7513.541cb8","name":"","query":"select * from sensors_test","rawOutput":false,"precision":"","retentionPolicy":"","x":430,"y":660,"wires":[["63817a31.3398e4"]]},{"id":"cb34a953.fdd1e8","type":"inject","z":"a7bdf021.a8fe3","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":157.0833282470703,"y":654.0833435058594,"wires":[["764de816.823f98"]]},{"id":"63817a31.3398e4","type":"debug","z":"a7bdf021.a8fe3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":744.0833129882812,"y":676.0833435058594,"wires":[]},{"id":"d3ed567f.6ed9c","type":"influxdb out","z":"a7bdf021.a8fe3","influxdb":"9d8f7513.541cb8","name":"","measurement":"sensors_test","precision":"","retentionPolicy":"","x":1110,"y":300,"wires":[]},{"id":"a12658a8.4cda5","type":"inject","z":"a7bdf021.a8fe3","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":260,"wires":[["6b59b5ce.79a4d4","f18c34e6.160b08","4bfa8c73.baf6dc"]]},{"id":"8bb52fcf.71895","type":"random","z":"a7bdf021.a8fe3","name":"sensor1","low":"1","high":"50","inte":"true","property":"payload","x":690,"y":260,"wires":[["4e1a5dff.52f6bc","c46624cb.4ae99"]]},{"id":"bd606b31.d82898","type":"debug","z":"a7bdf021.a8fe3","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1020,"y":360,"wires":[]},{"id":"4c44a5cd.7ba7d4","type":"random","z":"a7bdf021.a8fe3","name":"sensor2","low":"1","high":"50","inte":"true","property":"payload","x":690,"y":320,"wires":[["4e1a5dff.52f6bc","c46624cb.4ae99"]]},{"id":"4e1a5dff.52f6bc","type":"join","z":"a7bdf021.a8fe3","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"3","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":880,"y":300,"wires":[["bd606b31.d82898","d3ed567f.6ed9c"]]},{"id":"6b59b5ce.79a4d4","type":"change","z":"a7bdf021.a8fe3","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"sensor1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":260,"wires":[["8bb52fcf.71895"]]},{"id":"f18c34e6.160b08","type":"change","z":"a7bdf021.a8fe3","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"sensor2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":320,"wires":[["4c44a5cd.7ba7d4"]]},{"id":"9451c110.cb55","type":"comment","z":"a7bdf021.a8fe3","name":"InfluxDB single value","info":"","x":123,"y":103,"wires":[]},{"id":"def6651c.f2ddc","type":"comment","z":"a7bdf021.a8fe3","name":"InfluxDB multiple values","info":"","x":120,"y":300,"wires":[]},{"id":"fd07db52.fa7078","type":"random","z":"a7bdf021.a8fe3","name":"sensor2","low":"1","high":"50","inte":"true","property":"payload","x":690,"y":380,"wires":[["4e1a5dff.52f6bc","c46624cb.4ae99"]]},{"id":"4bfa8c73.baf6dc","type":"change","z":"a7bdf021.a8fe3","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"sensor3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":380,"wires":[["fd07db52.fa7078"]]},{"id":"c46624cb.4ae99","type":"ui_chart","z":"a7bdf021.a8fe3","name":"","group":"3401043a.70e864","order":0,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"60","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1010,"y":420,"wires":[[],[]]},{"id":"30de8f50.cb06e8","type":"http in","z":"aa95ed23.39cec8","name":"","url":"/simplejson/query","method":"post","upload":false,"swaggerDoc":"","x":160,"y":220,"wires":[["f002738f.7f4eb8"]]},{"id":"ca66579c.2d57e8","type":"http response","z":"aa95ed23.39cec8","name":"","statusCode":"200","headers":{},"x":640,"y":220,"wires":[]},{"id":"f002738f.7f4eb8","type":"function","z":"aa95ed23.39cec8","name":"","func":"var out = []\n\nfor (var id in msg.payload.targets) {\n    var tmp_target = {}\n    \n    tmp_target['target'] = msg.payload.targets[id].target;\n    tmp_target['datapoints'] = [flow.get('t1')];\n\n    out.push(tmp_target);    \n}\nmsg.payload = JSON.stringify(out)\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":220,"wires":[["ca66579c.2d57e8","7ffde156.acb348"]]},{"id":"baadfacb.7c7d7","type":"random","z":"aa95ed23.39cec8","name":"","low":"1","high":"35","inte":"true","property":"payload","x":320,"y":60,"wires":[["e8fb1d17.707a1","3afce197.c6da6e"]]},{"id":"b87b038b.5cba4","type":"inject","z":"aa95ed23.39cec8","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":60,"wires":[["baadfacb.7c7d7"]]},{"id":"e8fb1d17.707a1","type":"function","z":"aa95ed23.39cec8","name":"","func":"tmp =[];\n\ntmp.push(parseFloat(msg.payload));\ntmp.push(parseInt(new Date().getTime()));\n\nflow.set('t1', tmp);\n\nnode.status({'text':msg.payload});\n\n\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":60,"wires":[[]]},{"id":"7ffde156.acb348","type":"debug","z":"aa95ed23.39cec8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":630,"y":300,"wires":[]},{"id":"3afce197.c6da6e","type":"debug","z":"aa95ed23.39cec8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":563.0833129882812,"y":130.08334350585938,"wires":[]},{"id":"5f7dc72b.509018","type":"change","z":"9b307adc.ff9ed8","name":"sensor2","rules":[{"t":"set","p":"payload.name","pt":"msg","to":"sensor2","tot":"str"},{"t":"set","p":"payload.value","pt":"msg","to":"sensors.sensor2","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":580,"wires":[["d6123f33.bacf9"]]},{"id":"10a7af1d.75c0b1","type":"http in","z":"9b307adc.ff9ed8","name":"","url":"/api/sensors/:id","method":"get","upload":false,"swaggerDoc":"","x":150,"y":540,"wires":[["6c5d8b82.1c0104","a5004923.9193b8"]]},{"id":"d6123f33.bacf9","type":"json","z":"9b307adc.ff9ed8","name":"","property":"payload","action":"","pretty":false,"x":730,"y":540,"wires":[["f45f6065.e0c6e"]]},{"id":"f45f6065.e0c6e","type":"http response","z":"9b307adc.ff9ed8","name":"","statusCode":"","headers":{},"x":870,"y":540,"wires":[]},{"id":"58c692f5.bef2dc","type":"change","z":"9b307adc.ff9ed8","name":"sensor1","rules":[{"t":"set","p":"payload.name","pt":"msg","to":"sensor1","tot":"str"},{"t":"set","p":"payload.value","pt":"msg","to":"sensors.sensor1","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":500,"wires":[["d6123f33.bacf9"]]},{"id":"6c5d8b82.1c0104","type":"debug","z":"9b307adc.ff9ed8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":390,"y":620,"wires":[]},{"id":"a5004923.9193b8","type":"switch","z":"9b307adc.ff9ed8","name":"","property":"req.params.id","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":390,"y":540,"wires":[["58c692f5.bef2dc"],["5f7dc72b.509018"]]},{"id":"490a0301.66403c","type":"comment","z":"9b307adc.ff9ed8","name":"WebServices","info":"","x":130,"y":360,"wires":[]},{"id":"338eab12.6d6614","type":"inject","z":"f823765f.98a2a8","name":"","topic":"","payload":"Attenzione!   Temperatura eccessiva","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":150,"y":60,"wires":[["f892879a.dc6d28"]]},{"id":"f892879a.dc6d28","type":"play audio","z":"f823765f.98a2a8","name":"","voice":"9","x":410,"y":60,"wires":[]},{"id":"5aa1d518.8b992c","type":"worldmap","z":"f823765f.98a2a8","name":"","lat":"","lon":"","zoom":"","cluster":"","maxage":"","x":590,"y":240,"wires":[]},{"id":"d867aabc.ce0148","type":"inject","z":"f823765f.98a2a8","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":160,"y":240,"wires":[["60d5ddc4.c6f094"]]},{"id":"60d5ddc4.c6f094","type":"function","z":"f823765f.98a2a8","name":"Add person to map","func":"var thing = {\n    name:\"Jason Isaacs\", \n    lat:51, \n    lon:-1.45,\n    icon:\"car\",\n    iconColor:\"darkred\",\n    extrainfo:\"Hello to Jason Isaacs\"\n};\nmsg.payload = thing;\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":240,"wires":[["5aa1d518.8b992c"]]},{"id":"6ff8c9af.25cc58","type":"comment","z":"f823765f.98a2a8","name":"Simple map - click inject to send point to map.","info":"Adds a map at http://(your-server-ip):1880/worldmap. \n\nThe `function` node creates an object with some basic properties required to add to a map.","x":250,"y":200,"wires":[]},{"id":"8e788c3.6aefd7","type":"function","z":"f823765f.98a2a8","name":"remap property names","func":"msg.payload.lat = msg.payload.latitude;\nmsg.payload.lon = msg.payload.longitude;\nmsg.payload.layer = msg.payload.type;\nmsg.payload.icon = msg.payload.type;\nmsg.payload.name = msg.payload.id;\n\ndelete msg.payload.latitude;\ndelete msg.payload.longitude;\ndelete msg.payload.type;\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":620,"wires":[["9fb413e4.970c2","e8016057.508bd"]]},{"id":"9fb413e4.970c2","type":"debug","z":"f823765f.98a2a8","name":"","active":false,"console":"false","complete":"payload","x":740,"y":560,"wires":[]},{"id":"239c336a.7c2b4c","type":"csv","z":"f823765f.98a2a8","name":"","sep":",","hdrin":true,"hdrout":"","multi":"one","ret":"\\n","temp":"","x":490,"y":520,"wires":[["8e788c3.6aefd7"]]},{"id":"2fb5f7e.a348708","type":"http request","z":"f823765f.98a2a8","name":"","method":"GET","url":"http://earthquake.usgs.gov/earthquakes/feed/v1.0/summary/2.5_day.csv","x":350,"y":520,"wires":[["239c336a.7c2b4c"]]},{"id":"b718bb83.152e28","type":"comment","z":"f823765f.98a2a8","name":"Earthquake !!!","info":"Press the button on the `inject` node to get the list of earthquakes from the USGS public API.\n\nThis returns a CSV - which we then parse using the `CSV` node into individual objects.\n\nThese are then passed through a `function` to remap the property names into ones \nsuitable for the map node, and passed to the `web-socket` out node.\n\nThe map will be served at http://localhost:1880/worldmap .\nYou will need to zoom out :-)","x":150,"y":480,"wires":[]},{"id":"e8016057.508bd","type":"worldmap","z":"f823765f.98a2a8","name":"","lat":"20","lon":"0","zoom":"2","layer":"OSM","cluster":"","maxage":"","usermenu":"show","layers":"show","x":740,"y":620,"wires":[]},{"id":"7a1f7844.ca8478","type":"worldmap","z":"f823765f.98a2a8","name":"","lat":"","lon":"","zoom":"","layer":"OSM","cluster":"","maxage":"","usermenu":"hide","panit":"true","x":510,"y":360,"wires":[]},{"id":"923f5668.a4c368","type":"function","z":"f823765f.98a2a8","name":"","func":"// create random position\nvar lat = 51 + Math.random() * 0.2;\nvar lon = -1.45 + Math.random() * 0.2;\nmsg.payload={\n    lat:lat, \n    lon:lon, \n    name:\"Mike\", \n    icon:\"male\", \n    iconColor:\"darkred\",\n    extrainfo:\"Mike is mooving\",\n    url:\"<a href=\\\"www.riminilug.it\\\">riminilug</a>\"};\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":360,"wires":[["7a1f7844.ca8478"]]},{"id":"7a8c8269.95920c","type":"inject","z":"f823765f.98a2a8","name":"","topic":"","payload":"/worldmap","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"","x":190,"y":740,"wires":[["973617bb.040888"]]},{"id":"30f72fb1.5828b","type":"ui_template","z":"f823765f.98a2a8","group":"c8e2d8f5.3b28a8","name":"","order":0,"width":"12","height":"12","format":"<div ng-bind-html=\"msg.payload | trusted\"></div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":540,"y":740,"wires":[[]]},{"id":"973617bb.040888","type":"template","z":"f823765f.98a2a8","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<iframe src={{{payload}}}  height=600px width=600px></iframe>","x":370,"y":740,"wires":[["30f72fb1.5828b"]]},{"id":"8486ca47.0abc48","type":"ui_button","z":"f823765f.98a2a8","name":"","group":"c8e2d8f5.3b28a8","order":0,"width":"6","height":"1","passthru":false,"label":"Move Mike","color":"","bgcolor":"","icon":"fa-male","payload":"","payloadType":"str","topic":"","x":150,"y":360,"wires":[["923f5668.a4c368"]]},{"id":"730132c1.f0cc4c","type":"comment","z":"f823765f.98a2a8","name":"How to embed Map in Dashboard","info":"This example shows how to embed the Worldmap \ninto a template node within the `node-red-dashboard`\n\nThe first flow creates a dashboard button that \ngenerates a randon position, with the required \nicon, and passes that to the worldmap. The\nmap is configured to automatically pan to the\nposition of any point that arrives.\n\nThe second flow initialise the dashboard template\nwith the initial map and sets it to a more square shape\nby adjusting the height.","x":240,"y":700,"wires":[]},{"id":"93262f29.32f62","type":"opencv","z":"f371b42b.6dfa38","detect":"FACE_CASCADE","output":"json","name":"","x":160,"y":320,"wires":[["ea111418.791ee8"]]},{"id":"db8de279.a4f83","type":"mjpg-consumer","z":"f371b42b.6dfa38","name":"","stream":"http://localhost:8080?action=stream","interval":1,"x":300,"y":120,"wires":[["93262f29.32f62","47473023.773408"]]},{"id":"ae1ef989.17cc78","type":"inject","z":"f371b42b.6dfa38","name":"","topic":"","payload":"start","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":120,"wires":[["db8de279.a4f83"]]},{"id":"c1652dde.344","type":"inject","z":"f371b42b.6dfa38","name":"","topic":"","payload":"stop","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":160,"wires":[["db8de279.a4f83"]]},{"id":"47473023.773408","type":"ui_template","z":"f371b42b.6dfa38","group":"fa6d1f16.de06e","name":"","order":0,"width":0,"height":0,"format":"<div>\n    <h2>Avvicinati!</h2>\n    <img name=\"main\" id=\"main\" border=\"0\" width=\"640\" height=\"480\" src=\"http://localhost:8080?action=stream\">\n    \n</div>\n    \n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":540,"y":120,"wires":[[]]},{"id":"ea111418.791ee8","type":"function","z":"f371b42b.6dfa38","name":"","func":"\n\nnode.log(msg.payload.length);\n\nif (msg.payload.length > 0) \n    msg.payload = \"Buongiorno\"\nelse \n    msg.payload = \"\"\n\n\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":320,"wires":[["842ae5ab.d81a5","edb15b47.fad468"]]},{"id":"842ae5ab.d81a5","type":"ui_text","z":"f371b42b.6dfa38","group":"fa6d1f16.de06e","order":0,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"row-spread","x":700,"y":340,"wires":[]},{"id":"6a46ae2e.2fb758","type":"inject","z":"f371b42b.6dfa38","name":"","topic":"","payload":"Hello","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":330,"y":420,"wires":[["edb15b47.fad468"]]},{"id":"edb15b47.fad468","type":"play audio","z":"f371b42b.6dfa38","name":"","voice":"27","x":700,"y":440,"wires":[]},{"id":"25c6e457.4bacf4","type":"debug","z":"1bdc2058.fbf978","name":"","active":true,"console":"false","complete":"true","x":290,"y":220,"wires":[]},{"id":"629db21.049abcc","type":"arduino in","z":"1bdc2058.fbf978","name":"","pin":"","state":"STRING","arduino":"5ee64f2d.53dab","x":110,"y":220,"wires":[["25c6e457.4bacf4","54d07c1c.3e783c","303c9a14.c38316"]]},{"id":"ad4e7f49.ea0868","type":"arduino out","z":"1bdc2058.fbf978","name":"","pin":"","state":"STRING","arduino":"5ee64f2d.53dab","x":990,"y":160,"wires":[]},{"id":"c0061bed.374c98","type":"ui_slider","z":"1bdc2058.fbf978","name":"","label":"Value ","group":"9c4264b0.b52fe8","order":11,"width":"6","height":"1","passthru":true,"topic":"","min":0,"max":"16","step":1,"x":510,"y":520,"wires":[["98cfaba3.723e8","d16e32e1.d81d08"]]},{"id":"98cfaba3.723e8","type":"function","z":"1bdc2058.fbf978","name":"","func":"if (msg.payload < 10)\n    msg.payload = \"ShowVal0\"+msg.payload;\nelse \n    msg.payload = \"ShowVal\"+msg.payload;\n\n\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":520,"wires":[["ad4e7f49.ea0868"]]},{"id":"d16e32e1.d81d08","type":"ui_text","z":"1bdc2058.fbf978","group":"9c4264b0.b52fe8","order":12,"width":"6","height":"1","name":"","label":"","format":"{{msg.payload}}","layout":"col-center","x":690,"y":560,"wires":[]},{"id":"93309344.73d95","type":"arduino out","z":"1bdc2058.fbf978","name":"servo","pin":"6","state":"SERVO","arduino":"5ee64f2d.53dab","x":310,"y":40,"wires":[]},{"id":"143e12d8.54ebd5","type":"ui_slider","z":"1bdc2058.fbf978","name":"","label":"servo motor","group":"96cd1bb9.330ef8","order":0,"width":0,"height":0,"passthru":true,"topic":"","min":0,"max":"180","step":1,"x":130,"y":40,"wires":[["93309344.73d95"]]},{"id":"77207de6.0a735c","type":"ui_switch","z":"1bdc2058.fbf978","name":"","label":"switch led","group":"96cd1bb9.330ef8","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":120,"y":120,"wires":[["260a1695.b2cdea"]]},{"id":"260a1695.b2cdea","type":"arduino out","z":"1bdc2058.fbf978","name":"Alarm","pin":"2","state":"OUTPUT","arduino":"5ee64f2d.53dab","x":310,"y":120,"wires":[]},{"id":"211cb3e0.cb192c","type":"ui_button","z":"1bdc2058.fbf978","name":"1","group":"9c4264b0.b52fe8","order":2,"width":"2","height":"1","passthru":false,"label":"","color":"","bgcolor":"red","icon":"fa-lightbulb-o","payload":"ShowType1","payloadType":"str","topic":"","x":510,"y":80,"wires":[["ad4e7f49.ea0868"]]},{"id":"1aa4feae.c6da01","type":"ui_button","z":"1bdc2058.fbf978","name":"2","group":"9c4264b0.b52fe8","order":3,"width":"2","height":"1","passthru":false,"label":"","color":"","bgcolor":"green","icon":"fa-lightbulb-o","payload":"ShowType2","payloadType":"str","topic":"","x":510,"y":120,"wires":[["ad4e7f49.ea0868"]]},{"id":"698fa674.e79e7","type":"ui_button","z":"1bdc2058.fbf978","name":"3","group":"9c4264b0.b52fe8","order":4,"width":"2","height":"1","passthru":false,"label":"","color":"","bgcolor":"blue","icon":"fa-lightbulb-o","payload":"ShowType3","payloadType":"str","topic":"","x":510,"y":160,"wires":[["ad4e7f49.ea0868"]]},{"id":"43b52bf.943ed54","type":"ui_button","z":"1bdc2058.fbf978","name":"off","group":"9c4264b0.b52fe8","order":1,"width":"6","height":"1","passthru":false,"label":"","color":"","bgcolor":"navy","icon":"fa-pause","payload":"ShowType0","payloadType":"str","topic":"","x":510,"y":40,"wires":[["ad4e7f49.ea0868"]]},{"id":"2264c00d.366228","type":"ui_button","z":"1bdc2058.fbf978","name":"4","group":"9c4264b0.b52fe8","order":6,"width":"2","height":"1","passthru":false,"label":"","color":"","bgcolor":"grey","icon":"fa-lightbulb-o","payload":"ShowType4","payloadType":"str","topic":"","x":510,"y":220,"wires":[["ad4e7f49.ea0868"]]},{"id":"8d7fa480.1417f","type":"ui_button","z":"1bdc2058.fbf978","name":"5","group":"9c4264b0.b52fe8","order":5,"width":"2","height":"1","passthru":false,"label":"","color":"","bgcolor":"red","icon":"fa-lightbulb-o","payload":"ShowType5","payloadType":"str","topic":"","x":510,"y":260,"wires":[["ad4e7f49.ea0868"]]},{"id":"65b0623f.14773c","type":"ui_button","z":"1bdc2058.fbf978","name":"6","group":"9c4264b0.b52fe8","order":7,"width":"2","height":"1","passthru":false,"label":"","color":"","bgcolor":"blue","icon":"fa-lightbulb-o","payload":"ShowType6","payloadType":"str","topic":"","x":510,"y":300,"wires":[["ad4e7f49.ea0868"]]},{"id":"b1f84c4a.879b","type":"ui_button","z":"1bdc2058.fbf978","name":"7","group":"9c4264b0.b52fe8","order":8,"width":"2","height":"1","passthru":false,"label":"","color":"","bgcolor":"orange","icon":"fa-fire","payload":"ShowType7","payloadType":"str","topic":"","x":510,"y":360,"wires":[["ad4e7f49.ea0868"]]},{"id":"71a60da3.4f7344","type":"ui_button","z":"1bdc2058.fbf978","name":"8","group":"9c4264b0.b52fe8","order":9,"width":"2","height":"1","passthru":false,"label":"","color":"","bgcolor":"purple","icon":"fa-fire","payload":"ShowType8","payloadType":"str","topic":"","x":510,"y":400,"wires":[["ad4e7f49.ea0868"]]},{"id":"9e221aa4.f4067","type":"ui_button","z":"1bdc2058.fbf978","name":"ValueA","group":"9c4264b0.b52fe8","order":10,"width":"2","height":"1","passthru":false,"label":"","color":"","bgcolor":"navy","icon":"fa-sliders","payload":"ShowTypeA","payloadType":"str","topic":"","x":520,"y":460,"wires":[["ad4e7f49.ea0868"]]},{"id":"28203d2b.7d3172","type":"ui_button","z":"f823765f.98a2a8","name":"","group":"c8e2d8f5.3b28a8","order":0,"width":"6","height":"1","passthru":false,"label":"Get Heartquake","color":"","bgcolor":"","icon":"fa-bullhorn","payload":"","payloadType":"str","topic":"","x":160,"y":520,"wires":[["2fb5f7e.a348708"]]},{"id":"c2fd8d57.1928b8","type":"comment","z":"f823765f.98a2a8","name":"Move Mike  around","info":"Press the button to move Mike around\n","x":170,"y":320,"wires":[]},{"id":"61375ed0.9b6cd","type":"inject","z":"f823765f.98a2a8","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":130,"y":400,"wires":[["923f5668.a4c368"]]},{"id":"54d07c1c.3e783c","type":"ui_text","z":"1bdc2058.fbf978","group":"96cd1bb9.330ef8","order":0,"width":0,"height":0,"name":"","label":"Dist:","format":"{{msg.payload}}","layout":"row-spread","x":281,"y":306,"wires":[]},{"id":"35a2af67.5c9ab8","type":"ui_switch","z":"1bdc2058.fbf978","name":"","label":"Program ON/OFF","group":"96cd1bb9.330ef8","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"Program1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"Program0","offvalueType":"str","officon":"","offcolor":"","x":730,"y":620,"wires":[["ad4e7f49.ea0868"]]},{"id":"9d189161.4ad1","type":"ui_switch","z":"f371b42b.6dfa38","name":"","label":"Attiva analisi volto","group":"fa6d1f16.de06e","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"start","onvalueType":"str","onicon":"","oncolor":"","offvalue":"stop","offvalueType":"str","officon":"","offcolor":"","x":130,"y":60,"wires":[["db8de279.a4f83"]]},{"id":"6fe3ca6b.d77364","type":"inject","z":"6df35f15.465e3","name":"","topic":"","payload":"on","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":460,"wires":[["f8904592.c43ab"]]},{"id":"f60a84db.cefcb","type":"inject","z":"6df35f15.465e3","name":"","topic":"","payload":"off","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":520,"wires":[["f8904592.c43ab"]]},{"id":"f8904592.c43ab","type":"mqtt out","z":"6df35f15.465e3","name":"","topic":"shellies/shelly1-227E73/relay/0/command","qos":"","retain":"","broker":"c1387764.d2e6d8","x":620,"y":480,"wires":[]},{"id":"f5c959ff.8f955","type":"mqtt in","z":"6df35f15.465e3","name":"","topic":"shellies/shelly1-227E73/relay/0","qos":"2","broker":"c1387764.d2e6d8","x":930,"y":480,"wires":[["8762be13.850b88","9fbec4f4.4f806"]]},{"id":"8762be13.850b88","type":"debug","z":"6df35f15.465e3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1190,"y":480,"wires":[]},{"id":"1ba12ba3.d32efc","type":"inject","z":"6df35f15.465e3","name":"","topic":"","payload":"TOGGLE","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":380,"wires":[["7bcd6f36.047d08"]]},{"id":"7bcd6f36.047d08","type":"mqtt out","z":"6df35f15.465e3","name":"","topic":"smarthome/cmnd/luce2/POWER1","qos":"","retain":"","broker":"c1387764.d2e6d8","x":638,"y":348,"wires":[]},{"id":"914df3c2.e9e44","type":"inject","z":"6df35f15.465e3","name":"","topic":"","payload":"ON","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":148,"y":268,"wires":[["7bcd6f36.047d08"]]},{"id":"5b64516f.58b958","type":"inject","z":"6df35f15.465e3","name":"","topic":"","payload":"OFF","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":148,"y":328,"wires":[["7bcd6f36.047d08"]]},{"id":"415ecd52.359c84","type":"debug","z":"6df35f15.465e3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1210,"y":340,"wires":[]},{"id":"5fd9658.d44159c","type":"mqtt in","z":"6df35f15.465e3","name":"","topic":"smarthome/stat/luce2/POWER","qos":"2","broker":"c1387764.d2e6d8","x":969,"y":346,"wires":[["415ecd52.359c84","9863f8bc.e70c9"]]},{"id":"9bd62880.476d98","type":"ui_button","z":"6df35f15.465e3","name":"","group":"3d8eb2c2.0efaee","order":0,"width":"3","height":"2","passthru":false,"label":"LUCE 1","color":"","bgcolor":"","icon":"fa-lightbulb-o","payload":"TOGGLE","payloadType":"str","topic":"","x":300,"y":240,"wires":[["e19feb4.e4eeb18"]]},{"id":"bfda2be.7da5858","type":"ui_button","z":"6df35f15.465e3","name":"","group":"3d8eb2c2.0efaee","order":0,"width":"3","height":"2","passthru":false,"label":"LUCE 2","color":"","bgcolor":"","icon":"fa-lightbulb-o","payload":"TOGGLE","payloadType":"str","topic":"","x":320,"y":400,"wires":[["7bcd6f36.047d08"]]},{"id":"83d9c573.239d7","type":"ui_switch","z":"6df35f15.465e3","name":"","label":"Luce 3","group":"3d8eb2c2.0efaee","order":0,"width":"3","height":"2","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"off","offvalueType":"str","officon":"","offcolor":"","x":210,"y":600,"wires":[["f8904592.c43ab"]]},{"id":"303c9a14.c38316","type":"ui_gauge","z":"1bdc2058.fbf978","name":"","group":"96cd1bb9.330ef8","order":0,"width":0,"height":0,"gtype":"donut","title":"","label":"units","format":"{{value}}","min":0,"max":"260","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":286,"y":374,"wires":[]},{"id":"10188485.c46d53","type":"mqtt in","z":"cf070f33.1f2d6","name":"","topic":"sensor1/light","qos":"2","broker":"c1387764.d2e6d8","x":190,"y":80,"wires":[["6d022c13.bf1304","4a7a4716.d48e78"]]},{"id":"10f8b8eb.2360a7","type":"mqtt in","z":"cf070f33.1f2d6","name":"","topic":"sensor1/button","qos":"2","broker":"c1387764.d2e6d8","x":200,"y":202,"wires":[["c1208b29.f5839"]]},{"id":"6d022c13.bf1304","type":"ui_gauge","z":"cf070f33.1f2d6","name":"","group":"a7e79262.7f7b2","order":1,"width":0,"height":0,"gtype":"gage","title":"light","label":"","format":"{{value}}","min":0,"max":"1023","colors":["#00b500","#e6e600","#ca3838"],"seg1":"250","seg2":"500","x":390,"y":80,"wires":[]},{"id":"c1208b29.f5839","type":"ui_template","z":"cf070f33.1f2d6","group":"a7e79262.7f7b2","name":"","order":2,"width":"0","height":"0","format":"<div layout=\"row\" layout-align=\"space-between\">\n\n<p ng-style=\"{padding:'5px', background: (msg.payload || 0) % 2 === 0 ? 'green' : 'red'\n \n }\">\n    BUTTON\n</p>\n    \n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":400,"y":202,"wires":[[]]},{"id":"1a8b1904.76c29f","type":"ui_colour_picker","z":"cf070f33.1f2d6","name":"","label":"LED COLOR","group":"a7e79262.7f7b2","format":"hex","outformat":"string","showSwatch":true,"showPicker":false,"showValue":true,"showAlpha":false,"showLightness":true,"dynOutput":"false","order":7,"width":0,"height":0,"passthru":true,"topic":"","x":190,"y":520,"wires":[["c3831542.17c908"]]},{"id":"c3831542.17c908","type":"mqtt out","z":"cf070f33.1f2d6","name":"","topic":"sensor1/rgb","qos":"","retain":"","broker":"c1387764.d2e6d8","x":410,"y":320,"wires":[]},{"id":"290971f7.d2d866","type":"ui_button","z":"cf070f33.1f2d6","name":"","group":"a7e79262.7f7b2","order":3,"width":0,"height":0,"passthru":false,"label":"LED OFF","color":"","bgcolor":"","icon":"","payload":"000000","payloadType":"str","topic":"","x":160,"y":320,"wires":[["c3831542.17c908"]]},{"id":"9ae11948.e7c2a8","type":"ui_button","z":"cf070f33.1f2d6","name":"","group":"a7e79262.7f7b2","order":4,"width":0,"height":0,"passthru":false,"label":"LED RED","color":"","bgcolor":"red","icon":"","payload":"ff0000","payloadType":"str","topic":"","x":160,"y":360,"wires":[["c3831542.17c908"]]},{"id":"cc6079.57749788","type":"ui_button","z":"cf070f33.1f2d6","name":"","group":"a7e79262.7f7b2","order":5,"width":0,"height":0,"passthru":false,"label":"LED GREEN","color":"","bgcolor":"green","icon":"","payload":"00ff00","payloadType":"str","topic":"","x":170,"y":400,"wires":[["c3831542.17c908"]]},{"id":"84b73739.684df","type":"ui_button","z":"cf070f33.1f2d6","name":"","group":"a7e79262.7f7b2","order":6,"width":0,"height":0,"passthru":false,"label":"LED BLUE","color":"","bgcolor":"blue","icon":"","payload":"0000ff","payloadType":"str","topic":"","x":170,"y":440,"wires":[["c3831542.17c908"]]},{"id":"1ed561bc.3dda2e","type":"chatbot-telegram-receive","z":"c9124f62.a24d1","bot":"415ca227.7d716c","botProduction":"515771a0.37616","x":190,"y":220,"wires":[["5ded13e5.efb86c","22807676.e3dd0a","3be63ed9.866e9a","c6b4c340.933208","7ee2414a.632ad8","fcb55cfa.d264b","669de610.e95c","bd56cf3a.939958","a5d1f794.1b03f8","26859c82.e13afc","5cdfaf2f.4d6e8"]]},{"id":"2851e2d1.7990a6","type":"chatbot-telegram-send","z":"c9124f62.a24d1","bot":"415ca227.7d716c","botProduction":"515771a0.37616","track":false,"outputs":0,"x":1220,"y":397,"wires":[]},{"id":"5ded13e5.efb86c","type":"chatbot-command","z":"c9124f62.a24d1","name":"","command":"/ok_bot","x":444,"y":101,"wires":[["8f070aea.2f1ca8"]]},{"id":"8f070aea.2f1ca8","type":"chatbot-inline-buttons","z":"c9124f62.a24d1","name":"","buttons":[{"type":"postback","label":"Comandi","value":"/command","answer":"","alert":false,"style":""},{"type":"postback","label":"Richiesta stato","value":"/status","answer":"","alert":false,"style":""}],"message":"Cosa vuoi fare?","x":622,"y":102,"wires":[["2851e2d1.7990a6"]]},{"id":"3be63ed9.866e9a","type":"chatbot-command","z":"c9124f62.a24d1","name":"","command":"/status","x":433,"y":197,"wires":[["abdec1db.7e4808"]]},{"id":"22807676.e3dd0a","type":"chatbot-command","z":"c9124f62.a24d1","name":"","command":"/command","x":453,"y":150,"wires":[["357286c7.28c95a"]]},{"id":"357286c7.28c95a","type":"chatbot-inline-buttons","z":"c9124f62.a24d1","name":"","buttons":[{"type":"postback","label":"LUCE ON","value":"/luce_on","answer":"","alert":false,"style":""},{"type":"postback","label":"LUCE OFF","value":"/luce_off","answer":"","alert":false,"style":""}],"message":"Seleziona il comando","x":623,"y":155,"wires":[["2851e2d1.7990a6"]]},{"id":"5530f6de.2b6558","type":"comment","z":"c9124f62.a24d1","name":"Menu Intermedi","info":"","x":465,"y":59,"wires":[]},{"id":"abdec1db.7e4808","type":"chatbot-inline-buttons","z":"c9124f62.a24d1","name":"","buttons":[{"type":"postback","label":"Dati ambientali","value":"/get_amb","answer":"","alert":false,"style":""},{"type":"postback","label":"Stato utenze","value":"/get_status","answer":"","alert":false,"style":""},{"type":"newline"},{"type":"postback","label":"Webcam","value":"/get_image","answer":"","alert":false,"style":""},{"type":"postback","label":"Informazioni","value":"/info","answer":"","alert":false,"style":"primary"}],"message":"Cosa vuoi sapere?","x":615,"y":203,"wires":[["2851e2d1.7990a6"]]},{"id":"c6b4c340.933208","type":"chatbot-command","z":"c9124f62.a24d1","name":"","command":"/info","x":434,"y":252,"wires":[["34bbe706.e07c3"]]},{"id":"34bbe706.e07c3","type":"chatbot-inline-buttons","z":"c9124f62.a24d1","name":"","buttons":[{"type":"postback","label":"Chi sono","value":"/whois","answer":"","alert":false,"style":""},{"type":"postback","label":"Dove sono","value":"/get_pos","answer":"","alert":false,"style":""},{"type":"newline"},{"type":"url","label":"RiminiLUG  web site","url":"https://www.riminilug.it","webViewHeightRatio":"tall","extensions":false,"answer":"","alert":false}],"message":"Informazioni","x":618,"y":255,"wires":[["2851e2d1.7990a6"]]},{"id":"b77f079a.3e6e5","type":"comment","z":"c9124f62.a24d1","name":"Risposte ai comandi","info":"","x":475,"y":324,"wires":[]},{"id":"7ee2414a.632ad8","type":"chatbot-command","z":"c9124f62.a24d1","name":"","command":"/get_pos","x":440,"y":390,"wires":[["1f3af4a4.8626e3"]]},{"id":"fcb55cfa.d264b","type":"chatbot-command","z":"c9124f62.a24d1","name":"","command":"/whois","x":428,"y":442,"wires":[["e035d17d.566688"]]},{"id":"e035d17d.566688","type":"chatbot-message","z":"c9124f62.a24d1","name":"Whois Message","message":[{"message":"Ciao, sono il BOT del workshop IoT\nSono stato creato per la serata al RiminiLUG del 19 marzo 2019\n"}],"answer":false,"track":false,"x":643,"y":441,"wires":[["2851e2d1.7990a6"]]},{"id":"669de610.e95c","type":"chatbot-command","z":"c9124f62.a24d1","name":"","command":"/luce_on","x":440,"y":700,"wires":[["4c320c5c.6eb50c","14b9d0f3.5f12d7"]]},{"id":"bd56cf3a.939958","type":"chatbot-command","z":"c9124f62.a24d1","name":"","command":"/luce_off","x":449,"y":766,"wires":[["2dafcf7f.9d104","4c320c5c.6eb50c"]]},{"id":"4c320c5c.6eb50c","type":"chatbot-message","z":"c9124f62.a24d1","name":"","message":[{"message":"Comando LUCE eseguito"}],"answer":false,"track":false,"x":798,"y":697,"wires":[["2851e2d1.7990a6"]]},{"id":"2dafcf7f.9d104","type":"change","z":"c9124f62.a24d1","name":"OFF","rules":[{"t":"set","p":"payload","pt":"msg","to":"off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":633,"y":833,"wires":[["88879720.90435"]]},{"id":"14b9d0f3.5f12d7","type":"change","z":"c9124f62.a24d1","name":"ON ","rules":[{"t":"set","p":"payload","pt":"msg","to":"on","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":631.5,"y":776,"wires":[["88879720.90435"]]},{"id":"a5d1f794.1b03f8","type":"chatbot-command","z":"c9124f62.a24d1","name":"","command":"/get_status","x":449,"y":560,"wires":[["79dbcc64.5e4144"]]},{"id":"17fe22d9.6a1655","type":"chatbot-message","z":"c9124f62.a24d1","name":"Status Message","message":[],"answer":false,"track":false,"x":815,"y":560,"wires":[["2851e2d1.7990a6"]]},{"id":"79dbcc64.5e4144","type":"function","z":"c9124f62.a24d1","name":"msg status","func":"\nvar message = \"\"\n\nmessage += \"Stato LUCE 1: \";\nmessage += (global.get(\"luci.luce1\") === 1)?\"ON\":\"OFF\"\nmessage += \"\\nStato LUCE 2: \";\nmessage += (global.get(\"luci.luce2\") === 1)?\"ON\":\"OFF\"\n\n\n\n\nmsg.payload = message;\nreturn msg;","outputs":1,"noerr":0,"x":627,"y":563,"wires":[["17fe22d9.6a1655"]]},{"id":"26859c82.e13afc","type":"chatbot-command","z":"c9124f62.a24d1","name":"","command":"/get_image","x":447,"y":480,"wires":[["2eac5ab8.6c6a16"]]},{"id":"43093f63.865d48","type":"chatbot-image","z":"c9124f62.a24d1","name":"","filename":"","image":"","caption":"","x":811,"y":493.0000305175781,"wires":[["2851e2d1.7990a6"]]},{"id":"5cdfaf2f.4d6e8","type":"chatbot-command","z":"c9124f62.a24d1","name":"","command":"/get_amb","x":443,"y":598,"wires":[["cc862fcc.c2c258"]]},{"id":"cc862fcc.c2c258","type":"function","z":"c9124f62.a24d1","name":"msg status","func":"\nvar message = \"\"\n\nmessage += \"Livello Lumin.: \";\nmessage += global.get(\"witty.sensor\");\n\n\n\nmessage += \"\\nTemp: \";\nmessage += global.get(\"temp\")|\"-\" + \"C\";\n\nmessage += \"\\nUmid: \";\nmessage += global.get(\"umid\")|\"-\" + \"%\";\n\n\nmsg.payload = message;\nreturn msg;","outputs":1,"noerr":0,"x":631,"y":601,"wires":[["ea120f19.cc7f6"]]},{"id":"ea120f19.cc7f6","type":"chatbot-message","z":"c9124f62.a24d1","name":"Status Message","message":[],"answer":false,"track":false,"x":819,"y":598,"wires":[["2851e2d1.7990a6"]]},{"id":"88879720.90435","type":"link out","z":"c9124f62.a24d1","name":"telegram_led_cmd","links":["31ccfd0f.7d0dfa"],"x":854.9999389648438,"y":797,"wires":[]},{"id":"1f3af4a4.8626e3","type":"chatbot-location","z":"c9124f62.a24d1","name":"RiminiLUG Lab","latitude":"43.9976587","longitude":"12.6281138","place":"RiminiLUG Lab","x":640,"y":380,"wires":[["2851e2d1.7990a6"]]},{"id":"2eac5ab8.6c6a16","type":"http request","z":"c9124f62.a24d1","name":"","method":"GET","ret":"bin","url":"192.168.8.100:8080?action=snapshot","tls":"","x":655.88330078125,"y":492.6833801269531,"wires":[["43093f63.865d48"]]},{"id":"31ccfd0f.7d0dfa","type":"link in","z":"6df35f15.465e3","name":"luce1","links":["88879720.90435"],"x":382,"y":51,"wires":[["e19feb4.e4eeb18"]]},{"id":"ba0bed15.ef3558","type":"change","z":"6df35f15.465e3","name":"","rules":[{"t":"set","p":"luci.luce1","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1220,"y":220,"wires":[[]]},{"id":"9863f8bc.e70c9","type":"change","z":"6df35f15.465e3","name":"","rules":[{"t":"set","p":"luci.luce2","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1220,"y":400,"wires":[[]]},{"id":"9fbec4f4.4f806","type":"change","z":"6df35f15.465e3","name":"","rules":[{"t":"set","p":"luci.luce3","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1200,"y":560,"wires":[[]]},{"id":"4a7a4716.d48e78","type":"change","z":"cf070f33.1f2d6","name":"","rules":[{"t":"set","p":"witty.sensor","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":120,"wires":[["1eb7eb80.5ebb8d"]]},{"id":"1eb7eb80.5ebb8d","type":"debug","z":"cf070f33.1f2d6","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":670,"y":168,"wires":[]},{"id":"24beccaf.52e41c","type":"inject","z":"cf070f33.1f2d6","name":"","topic":"","payload":"witty.sensor","payloadType":"global","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":726,"y":355,"wires":[["1318b431.0d7b8c"]]},{"id":"1318b431.0d7b8c","type":"debug","z":"cf070f33.1f2d6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":930,"y":340,"wires":[]},{"id":"7f9a201f.be839","type":"change","z":"6df35f15.465e3","name":"","rules":[{"t":"set","p":"luci.luce1","pt":"global","to":"off","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":680,"wires":[[]]},{"id":"c71d1e6b.ae4ad","type":"inject","z":"6df35f15.465e3","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":479,"y":700,"wires":[["7f9a201f.be839","71960a28.ce5554","ddc938a5.26ade8"]]},{"id":"71960a28.ce5554","type":"change","z":"6df35f15.465e3","name":"","rules":[{"t":"set","p":"luci.luce2","pt":"global","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":720,"wires":[[]]},{"id":"ddc938a5.26ade8","type":"change","z":"6df35f15.465e3","name":"","rules":[{"t":"set","p":"luci.luce3","pt":"global","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":760,"wires":[[]]},{"id":"d0230c24.3186f8","type":"comment","z":"9b307adc.ff9ed8","name":"Dummy Data","info":"","x":150,"y":40,"wires":[]},{"id":"e5965651.e6ff4","type":"random","z":"9b307adc.ff9ed8","name":"","low":"1","high":"40","inte":"true","property":"payload","x":340,"y":140,"wires":[["2b51a6fd.bae412"]]},{"id":"d38885e5.47dd7","type":"inject","z":"9b307adc.ff9ed8","name":"","topic":"","payload":"","payloadType":"date","repeat":"2","crontab":"","once":true,"onceDelay":0.1,"x":154,"y":131,"wires":[["e5965651.e6ff4","d80f2d63.95a6d"]]},{"id":"d80f2d63.95a6d","type":"random","z":"9b307adc.ff9ed8","name":"","low":"50","high":"100","inte":"true","property":"payload","x":340,"y":220,"wires":[["feb3f1b2.0adaf"]]},{"id":"2b51a6fd.bae412","type":"change","z":"9b307adc.ff9ed8","name":"","rules":[{"t":"set","p":"sensors.sensor1","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":140,"wires":[[]]},{"id":"feb3f1b2.0adaf","type":"change","z":"9b307adc.ff9ed8","name":"","rules":[{"t":"set","p":"sensors.sensor2","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":220,"wires":[[]]},{"id":"411c059f.7f158c","type":"http in","z":"9b307adc.ff9ed8","name":"","url":"/api/sensors","method":"get","upload":false,"swaggerDoc":"","x":140,"y":400,"wires":[["fb761e2.3aa456"]]},{"id":"fb761e2.3aa456","type":"change","z":"9b307adc.ff9ed8","name":"sensor2","rules":[{"t":"set","p":"payload.name","pt":"msg","to":"sensors","tot":"str"},{"t":"set","p":"payload.value","pt":"msg","to":"sensors","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":400,"wires":[["9f0499d.8f8b2e8"]]},{"id":"9f0499d.8f8b2e8","type":"json","z":"9b307adc.ff9ed8","name":"","property":"payload","action":"","pretty":false,"x":575,"y":400,"wires":[["5e1e3371.6ed1fc"]]},{"id":"5e1e3371.6ed1fc","type":"http response","z":"9b307adc.ff9ed8","name":"","statusCode":"","headers":{},"x":730,"y":400,"wires":[]}]

